.Products {
  &-header {
    text-align: center;
  }

  &-content {
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
  }

  &-category {
    border-top: 1px solid #000;

    &-header {
      text-align: center;
      font-size: 1.85rem;
      color: #fff;
      text-decoration: underline;
      letter-spacing: 0.075rem;
    }

    &-content {
      padding: 1rem;
      border-bottom: 1px solid #000;

      &-group {
        // padding: 1rem;

        &-title {
        }

        &-items {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
          gap: 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .Products-category-content-group-items {
    display: flex;
    flex-wrap: nowrap;
    // grid-template-columns: repeat(auto-fit, 100%);
    overflow-x: scroll;
  }
}
